@import ../core/_variables
@import ../core/_mixin

header
    border-bottom: 1px solid $grey
    padding: 10px 0

    +mobile480
        padding: 5px 0

    & *
        +transition(all linear .1s)

.logo
    font-size: 30px
    font-weight: 700
    color: #003b56

    span
        font-size: 18px
        color: #838383
        font-weight: 400

        +mobile480
            display: block
            font-size: 15px
            line-height: 0.5
            padding-left: 63px


    +mobile
        display: inline-block
        width: calc(100% - 40px)
        text-align: center

    &:hover
        color: #219be7
        text-decoration: none

.main-menu
    font-size: 0

    +mobile480
        display: none

        &.side-open
            display: block
            padding: 0

    +mobile_min
        float: right
        margin-top: 8px

    +mobile
        text-align: center
        padding: 7px 0
        margin-top: 5px

    +mobile480
        display: none

    .item
        font-size: 16px
        padding: 15px 10px
        margin-left: 5px

        +mobile_min
            padding: 17px 10px

        &:hover, &.active
            color: #219be7
            text-decoration: none
            border-bottom: 3px solid #219be7

        +mobile480
            display: inline-block
            width: 100%
            margin: 0
            text-align: left
            padding: 10px 15px

            &:hover, &.active
                border: 0 none
                color: $white
                background: #219be7

.fade-main-menu
    position: relative
    top: 23px
    right: 5px
    float: right
    font-size: 0
    display: none

    &:before
        position: absolute
        width: 24px
        height: 24px
        top: -11px
        left: 0
        content: ""

    +mobile480
        display: block

.points:after, .points:before
    position: absolute
    left: 0
    transition: all .3s
    content: ""

.points, .points:after, .points:before
    background: #265066
    width: 24px
    height: 3px
    display: inline-block

.points:before
    top: -8px

.points:after
    bottom: -8px

.close
    .points
        background: 0 0
        margin-right: -7px

        &:before, &:after
            left: -8px
            height: 2px
            width: 25px
            border-radius: 0

        &:before
            top: 0
            +rotate(135deg)

        &:after
            bottom: 1px
            +rotate(-135deg)




